<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">email</th>
        <th scope="col">age</th>
        <th scope="col">salary</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <th scope="row">{{item.id}}</th>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.email}}</td>
        <td>{{item.age}}</td>
        <td>{{item.salary}}</td>
        <div class="btn">
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger" (click)="delete(item.id)">Delete</button>
        </div>
      </tr>
     
     
    </tbody>
  </table>

